// Required for modifying core defaults
@import '~vuetify/src/styles/styles.sass';

// Any component modifications must be imported
@import '~vuetify/src/components/VBtn/_variables.scss';

$btn-font-weight: 600;

html, body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

a {
  text-decoration: none;
}

pre {
  max-width: 100% !important;
  overflow-x: auto !important;
  background-color: $grey2;
  padding: 6px 6px 0;
}

.v-application code {
  font-size: 11px !important;
  background-color: $transparent !important;
  white-space: pre !important;
}

.v-application {
  font-family: Ubuntu Mono !important;
  font-style: normal;
  font-variant: normal;
}

.w-100 {
  width: 100% !important;
}

.v-content__wrap {
  overflow:auto;
  max-height: calc(100vh);
}

.container {
  padding: 0 !important;
  margin: 0 !important;
}

.bg-transparent {
  background-color: $transparent !important;
}

.v-btn {
  text-transform:none !important;
}

.custom-highlight-row {
  background-color: $primary;
}
